
/* Add wapping so that the child element is not controlled*/
.App {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.col-sm-4 {
  float: left;
  width: 20%;
  height: 100%;
  background-color: #eeeeee;
  padding: 30px;
  text-align: left;
  font-family: "Verdana", cursive, sans-serif;
}

.col-sm-8{
  float: left;
  width: 80%;
  height: 100%;
  /* text-align: center; */
}

.messageList {
  margin: 0 auto; 
  max-width: 1000px; 
  padding: 0 20px; 
}


.room-name{
  text-align: left;
  color: gray;
} 

.outer_room_list {
  overflow: auto;
}

.messageBody {
  border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
} 

.messageBody::after {
  content: "";
  clear: both;
  display: table;
}

.rowName {
  float: left;
  clear: right;
}

.rowContent {
  float: left;
  clear: right;
}

.rowDate {
  float: right;
}

.ion-md-trash messsage {
  float: right;
  font-size: larger;
} 

.submitForm {
  display: flex;
}

 .textArea {
  flex: 1;
  position: fixed;
  bottom: 0;
  display: inline-block;
}

.submitBtn {
  width: 200px;
  position: fixed;
  bottom: 0;
  display: inline-block;
}











