.container {
  margin: 0px;
}

.App {
  font-family: Arial, Helvetica, sans-serif, cursive;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  min-height: 100%;
}

/* sidebar */

.col-sm-4 {
  float: left;
  min-width: 100%;
  padding: 10px;
  padding-top: 0px;
  height: 100%;
  color: #EBEDED;
  background-color: gray;
  background-image: linear-gradient(gray, #CBCACA);
  padding: 30px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif, sans-serif, cursive;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.inner_room_list {
  margin: 20px auto;
  color:#EBEDED;
} 

.inner_room_list .ion-md-trash {
  color: #EBEDED;
}


.sidebar-nav-fixed ul {
  padding: 0;
}

.sidebar-nav-fixed {
  margin-left: -250px;
  left: 250px; 
  width: 250px;
  background: #CCC;
  position: fixed;
  height: 100%;   
  /* overflow-y: auto;  */
  /* z-index: 1000;
  transition: all 0.4s ease 0s; */
} 


.user_authentication {
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center; 
  justify-content: flex-end;
}

#auth_info {
  display: flex;
  max-width: 100%;
  max-height: 100%;
  color: #716E6E;
  font-size: 10px;
  padding-right: 10px;
}

#auth_botton {
  display: flex;
  flex: 1;
  margin-bottom: 15px;
}

.sign_in_out_btn {
  background: rgb(58, 48, 48);
  color: white;
  size: 5px;
  border-radius: 7px;
}

#create_room_btn {
  background: #716E6E;
  color: white;
  size: 5px;
  border-radius: 7px;
}

.room_name {
  font-family: Helvetica, sans-serif, cursive;
  clear: right;
  display: inline;
  margin-right: 10px;
  padding-left: 0px;
  font-size: 15px;
  color: #EBEDED;
}


/* Main Chat  */

.col-sm-8{
  font-family: Helvetica, sans-serif, cursive;
  /* float: left; */
  width: 100%;
  height: 100%;
  margin-left: 350px;
  /* text-align: center; */
}

.messageList {
  font-family: Helvetica, sans-serif, cursive;
  margin: 0 auto; 
  max-width: 1000px; 
  padding: 0px; 
  padding-bottom: 15%;
}

.chat-title {
  font-size: 25px;
  font-family: Verdana, sans-serif;
  padding-top: 5%;
  padding-bottom: 3%;
}


.messageBody {
  /* border: 2px solid #eee7e7; */
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto;
} 

.messageBody::after {
  content: ""; 
  clear: both;
  display: table; 
}

.rowName {
  clear: right;
  display: inline;
  margin-right: 10px;
}

.rowName::after{
  content: "  "; 
  clear: both;
}


.rowContent {
  clear: right;
  display: inline;
}

.rowDate {
  display: inline;
  float: right;
}

.ion-md-trash messsage {
  font-size: larger;
  display: inline;
  vertical-align: top;
} 

.submitForm {
  position: fixed;
  bottom: 0;
  margin: 0 auto; 
}

 .textArea {
  width: 800px;
  position: relative;
  border-radius: 15px;
  vertical-align: bottom;
  bottom: 0;
  height: 50px;
  left: 0;
}

.submitBtn {
  width: 100px;
  height: 50px;
  position: relative;
  vertical-align: bottom;
  bottom: 0;
  right: 0;
  background-color: rgb(58, 48, 48);
  color: white;
} 



/* @media (max-width:767px) {

  #wrapper {
    padding-right: 0;
  }

  #sidebar-wrapper {
    right: 0;
  }

  #wrapper.active {
    position: relative;
    right: 250px;
  }

  #wrapper.active #sidebar-wrapper {
    right: 250px;
    width: 250px;
    transition: all 0.4s ease 0s;
  }

} */





















