
/* Add wapping so that the child element is not controlled*/
.App {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}


.col-sm-4 {
  float: left;
  width: 20%;
  height: 100%;
  background-color: #eeeeee;
  padding: 30px;
  text-align: left;
  font-family: "Verdana", cursive, sans-serif;
}

.col-sm-8{
  float: right;
  width: 80%;
  height: 100%;
  text-align: center;
}

.room-name{
  text-align: left;
  color: gray;
} 

.outer_room_list {
  overflow: auto;
}

.inner_room_list {
  
  

} 



