/* Add wapping so that the child element is not controlled*/
.App {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
}

.col-sm-4 {
  float: left;
  width: 20%;
  height: 100%;
  background-color: #eeeeee;
  padding: 30px;
  text-align: left;
  font-family: "Verdana", cursive, sans-serif;
}

.col-sm-8{
  float: left;
  width: 100%;
  height: 100%;
  /* text-align: center; */
}

.messageList {

  margin: 0 auto; 
  max-width: 1000px; 
  padding: 0px; 
}

.room-name{
  text-align: left;
  color: gray;
} 

.inner_room_list {
  margin: 20px auto;
} 

.inner_room_list .ion-md-trash {
  color: gray;
}

.room_name {
  clear: right;
  display: inline;
  margin-right: 10px;
  padding-left: 0px;
  font-size: 15px;
  color: gray;
}

.messageBody {
  border: 2px solid #eee7e7;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto;
} 

.messageBody::after {
  content: ""; 
  clear: both;
  display: table; 
}

.rowName {
  clear: right;
  display: inline;
  margin-right: 10px;
}

.rowName::after{
  content: "  "; 
  clear: both;
}


.rowContent {
  clear: right;
  display: inline;
}

.rowDate {
  display: inline;
  float: right;
}

.ion-md-trash messsage {
  font-size: larger;
  display: inline;
  vertical-align: top;
} 

.submitForm {
  position: fixed;
  bottom: 0;
}

 .textArea {
  width: 800px;
  position: relative;
  vertical-align: bottom;
  bottom: 0;
  height: 100px;
  left: 0;
}

.submitBtn {
  width: 200px;
  height: 100px;
  position: relative;
  vertical-align: bottom;
  bottom: 0;
  right: 0;
  background-color: rgb(58, 48, 48);
  color: white;
} 

#auth_info {
  display: inline;
}

#auth_botton {
  float: right;
}













